@tailwind base;
@tailwind components;
@tailwind utilities;

.nextFadeIn {
    animation: rightFadeIn 2s ease-in-out; 
}

.prevFadeIn {
    animation: leftFadeIn 2s ease-in-out; 
}


@keyframes rightFadeIn {
    0% { 
        opacity: 1; 
        transform: translate(50px, 0);
    }
    50% {
        opacity: 0.5;
        transform: translate(50px, 0);
    }
    100% { 
        opacity: 1; 
        
    }
}

@keyframes leftFadeIn {
    0% { 
        opacity: 1; 
        transform: translate(-50px, 0);
    }
    50% {
        opacity: 0.5;
        transform: translate(-50px, 0);
    }
    100% {
        opacity: 1; 
    }
}