@tailwind base;
@tailwind components;
@tailwind utilities;

.default-side {
  opacity: 0.5;
  transform: scale(0.8);
}

.default-current {
  transform: scale(1.1);
}

.slideIn {
    position: fixed;
    animation: slideIn 1s ease-in-out;
    animation-fill-mode: forwards;
    order: -1;
}

.slideOut {
    position: fixed;
    animation: slideOut 1s ease-in-out;
    animation-fill-mode: forwards;
    order: -1;
}

.hidden-sideBar {
    position: absolute;
    display: none;
    order: -1
}

.default-element {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    animation: sideBarElementUnHover 0.5s ease-in-out;
    animation-fill-mode: forwards;   
}
.default-element:hover {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    animation: sideBarElementHover 0.5s ease-in-out;
    animation-fill-mode: forwards;
   
}

@keyframes sideBarElementHover {
    0% {

    }
    100% {
      transform: scale(1.05);
      background-color: #Caeefb;
      color: black;
    }
}

@keyframes sideBarElementUnHover {
    0% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
      background-color: #548CD9;
    }
}


@keyframes slideIn {
    0% {
        opacity: 0.8;
        transform: translate(-20rem, 0);
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translate(0rem, 0);
    }
    100% {
        opacity: 0.8;
        transform: translate(-30rem, 0);
    }
}

@keyframes leftFadeOut {
  0% {
    opacity: 1;
    transform: translate(5rem, 0rem);
    transform: scale(1.1);
  }
  50% {
    opacity: 0.75;
    transform: translate(-5rem, 0rem);
  }
  100% {
    opacity: 0.5;
    transform: scale(0.8);
  }
}

@keyframes leftFadeIn {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  50% {
    opacity: 0.5;
    transform: translate(-5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0rem, 0rem);
    transform: scale(1.1);
  }
}

@keyframes rightFadeOut {
  0% {
    opacity: 1;
    transform: translate(-5rem, 0rem);
    transform: scale(1.1);
  }
  50% {
    opacity: 0.75;
    transform: translate(5rem, 0rem);
  }
  100% {
    opacity: 0.5;
    transform: scale(0.8);
  }
}

@keyframes rightFadeIn {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  50% {
    opacity: 0.5;
    transform: translate(5rem);
  }
  100% {
    opacity: 1;
    transform: translate(-0rem, 0rem);
    transform: scale(1.1);
  }
}

.rightToggleOut {
  animation: rightFadeOut 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.rightToggleIn {
  animation: rightFadeIn 2s;
  animation-fill-mode: forwards;
  opacity: 1;
  z-index: 10;
}

.leftToggleIn {
  animation: leftFadeIn 2s;
  animation-fill-mode: forwards;
  opacity: 1;
  z-index: 10;
}

.leftToggleOut {
  animation: leftFadeOut 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.hiddenImage {
  display: none;
}

@keyframes newFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.newFadeRightIn {
  animation: newFade 1s;
  animation-fill-mode: forwards;
  opacity: 1;
  z-index: 10;
}


.default-modal {
  display: none;
}

.modal-fade-in {
  position: fixed;
  z-index: 50;
  animation: fadeIn 1.5s;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.team-slide-in {
  animation: slideInFromBottom 1.5s ease-out;
} 

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translate(0, 20rem);
  }
  100% {
    opacity: 1;
  }
}

.event {
  overflow: hidden;
}
.event-on-image {
  animation: zoomIn 0.5s ease-in-out;
  animation-fill-mode: forwards;
  
}
.event-off-image {
  animation: zoomOut 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes zoomIn {
  0% {
    
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}