@tailwind base;
@tailwind components;
@tailwind utilities;


.slider {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slide-current {
    opacity: 1;
}
.slide-previous {
    opacity: 0.60;
}

.slide-next {
    opacity: 0.60;
}

